*{
    margin: 0;
    padding: 0;
}


.principal{

    background-image: url(imagens/background.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    height: 100vh;
}