:root{
    --cor-principal: #ffffffff;
    --cor-secundaria: #c0c0c0;
    --botao-detaque: #167BF7;
    --cor-de-fundo: #00030c;
}

*{
    margin: 0;
    padding: 0;
}


.principal{

   background-color: #00030c;
   background-image: url(imagens/background.png);
   background-size: contain;
   background-repeat: no-repeat;
   text-align:center;
   font-size: 10px;

}

.container{

    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;
    color: var(--cor-principal);
}

.container--botao{

    background-color: var(--botao-detaque);
    color: var(--cor-principal);
    padding: lem;
    border-radius: 10px;
    text-decoration: none;
    display: block;
}

.botao--secundario{

    background-color: transparent;
    border: 2px solid var(--cor-principal);
}

.container--caixa{

    margin: 0 6em
}